/* *****************RESET************************* */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

img{

  max-width: 100%;
  height: 80%;
}

/******************* BASIC STYLES *****************************/

body {
  display: flex;
  flex-direction: column;

  background-color: #34baab;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: .3rem 1rem;
}

.endGameInformation{

}


footer {
  display: flex;
  justify-content: center;

  background-color: #484450;
  color: white;
  padding: 1rem 0.5rem;
}


/* ********************* USER *************************/


/************************ PC *********************/


/*********************** FOR BOTH *******************/

.mainContainer {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
}

.playersContainers {
  background-color: #466067;
  border: solid 3px;
  /* padding: 1rem 2rem; */
  min-height: 5rem;
  min-width: 5rem;

  display: flex;
  flex-direction: column;
}


.playerInformation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.playerName{
  color: #f0e8ef;
  
}

.scoreUser,
.scorePC {
  background-color: white;
  min-height: 1em;
  min-width: 1em;
  border: solid 1px;
  text-align: center;
}

.buttonsDiv{
  margin: .6rem .5rem;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.button{
  height: 3rem;
  width: 4rem;
  background-color: #c4c8c5;
  padding: .2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}